@media screen and (max-width: 1100px) {
  :root {
    --color-main: #3f55fa;
    --color-main-gr: linear-gradient(to bottom, #3f55fa 0%, #1b34f1 100%);
    --color-dark: #2a3342;
    --color-warning: #fed430;
    --color-success: #52b788;
    --color-error: #ef233c;
    --color-white: #ffffff;
    --color-gray: #a4a4a4;
    --color-light-gray: #f4f4f4;
  }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 450px) {
  .form-inputs {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 300px) {
}
