@media screen and (max-width: 1100px) {
  :root {
    --color-main: #2a3342;
    --color-main-gr: linear-gradient(to bottom, #2a3342 0%, #181d25 100%);
    --color-dark: #2a3342;
    --color-warning: #fed430;
    --color-success: #52b788;
    --color-error: #ef233c;
    --color-white: #ffffff;
    --color-light-white: #f7f7f7;
    --color-gray: #c2c2c2;
    --color-light-gray: #f4f4f4;

    --shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  }
}
@media screen and (max-width: 1000px) {
}
@media screen and (max-width: 900px) {
}
@media screen and (max-width: 800px) {
}
@media screen and (max-width: 700px) {
}
@media screen and (max-width: 600px) {
}
@media screen and (max-width: 500px) {
}
@media screen and (max-width: 450px) {
  .form-inputs {
    max-width: 100%;
    width: 100%;
  }
}
@media screen and (max-width: 400px) {
}
@media screen and (max-width: 300px) {
}
